<div class="container">
  <app-popup 
  (onCloseInput)="onCloseInput()"
  [showPopup]="showPopup"
  >
    <app-edit-food 
    [currentEdit]="currentEdit"
    />
  </app-popup>
  <form>
    <div class="grid">
      <h2>Calcolo Insulina</h2>
      <div class="input-group-container">
        <div *ngFor="let quantity of input_array; let i = index">
          <app-input-group
            class="input-group"
            [group_index]="i"
            (onClickInput)="removeQuantity(i)"
            (onInput)="onInput($event)"
            (onClickEditInput)="editInput(i)"
          />
        </div>
      </div>
      <div class="input-group" (click)="addQuantity()">
        <button type="button" class="add btn-control">&plus;</button>
      </div>
    </div>
  </form>
  <br />
  <div>
    <h2>Risultati</h2>
    <div class="flex-column">
      <div class="input-group-result">
        <label for="correction">Fattore di Correzione</label>
        <input
          class="input-result"
          id="correction"
          type="number"
          [(ngModel)]="correction"
        />
      </div>
      <div class="input-group-result">
        <label for="current">Glicemia attuale</label>
        <input
          class="input-result"
          id="current"
          type="number"
          [(ngModel)]="current"
        />
      </div>
      <div class="input-group-result">
        <label for="needed">Glicemia desiderata</label>
        <input
          class="input-result"
          id="needed"
          type="number"
          [(ngModel)]="needed"
        />
      </div>
      <div>
        <label>Carboidrati Totali:</label>
        {{ this.getTotalCarbs() }}
      </div>
      <div>
        <label>Insulina per pasto:</label>
        {{ this.getInsulinFoodValue() }}
      </div>
      <div>
        <label>Insulina di base:</label>
        {{ this.getInsulinBaseValue() }}
      </div>
      <div>
        <label>Insulina necessaria totale:</label>
        {{ this.getInsulinTotalValue() }}
      </div>
    </div>
  </div>
</div>
