<div class="flex-end mobile">
  <div class="input-control delete">
    <button
      type="button"
      (click)="onClick(group_index)"
      class="btn-control"
    >
      &times;
    </button>
  </div>
</div>
<div class="select">
    <app-select-food (onSelectInput)="onInputEvent($event, group_index, 'carbs')"/>
</div>
<div class="input-control">
  <input
    #inputCarbs
    type="number"
    [value]="carbs_percent"
    placeholder="Carboidrati (per 100g)"
    (keyup)="onInputEvent($event, group_index, 'carbs')"
  />
</div>
<div class="input-control">
  <input
    #inputGrams
    type="number"
    placeholder="Grammi somministrati"
    (keyup)="onInputEvent($event, group_index, 'qty')"
  />
</div>
<div class="input-control delete smallTab">
  <button
    type="button"
    (click)="onClick(group_index)"
    class="btn-control"
  >
    &times;
  </button>
</div>
