<div class="flex-end mobile">
  <div class="input-control delete">
    <button
      type="button"
      (click)="onClick(group_index)"
      class="btn-control"
    >
      &times;
    </button>
  </div>
</div>
<div>
    <app-select-food (onSelectInput)="onSelect($event)"/>
</div>
<div class="input-control">
  <input
    type="number"
    [value]="carbs_percent"
    placeholder="Carboidrati (per 100g)"
  />
</div>
<div class="input-control">
  <input
    type="number"
    placeholder="Grammi somministrati"
  />
</div>
<div class="input-control delete smallTab">
  <button
    type="button"
    (click)="onClick(group_index)"
    class="btn-control"
  >
    &times;
  </button>
</div>
