.container {
    max-width: 700px;
    background: #fff;
    border-radius: 5px;
    width: 700px;
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1)  
}

.flex {
    display: flex;
    gap: 1.5em;
    margin-bottom: 15px;
    justify-content: space-between
}

.input-control {
    @include input-control
}

.add {
    @include btn-control;
    background: #8bc34a;
    width: 30px;
    height: 30px;
}

.delete {
    @include btn-control;
    background: #f44336;
    width: 35px;
    height: 30px;
}