// Containers

.container {
  // width: 720px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  gap: 1em;
  grid-template-rows: 40px 250px 50px;
}

.input-group-container {
  overflow-y: auto;
}

.flex-column {
  @include flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: center;
}

.flex-end {
  @include flex;
  justify-content: flex-end;

}


// Inputs


.input-control {
  @include input-control;
}

.input-control > input {
  background: #eee;
  padding: 8px;
}

.input-control:focus-within {
  border: 2px solid #555;
}

.input-group {
  margin-bottom: 10px;

  @include respond-to("smallTab") {
    @include flex;
  }
}

.input-group-result input {
  border: 2px solid #6e6868;
  border-radius: 10px;
  padding: 8px 10px;
  transition: 0.2s;
  width: 100%;
}
.input-group-result input:focus-within {
  border-color: black
}

.input-group-result label {
  position: relative;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 0 5px;

  @include respond-to("smallTab") {
    display: inline-block;
    padding: 0px 0px;
    top: 0px;
    left: 0px;
    width: 30%;

  }

}


// Buttons


.add {
  background: #8bc34a;
}

.btn-control {
  @include btn-control;
}

.edit {
  background: cornflowerblue;
}

.delete {
  background: #f44336;
}


// Responsive


.mobile {
  @include respond-to("smallTab") {
    display: none;
  }
}

.desktop {
  @media (max-width: 1200px) {
    display: none;
  }
}

.smallTab {
  @media (max-width: 720px) {
    display: none;
  }
}

.tablet {
  @media (max-width: 960px) {
    display: none;
  }
}

// Select

.select {
  cursor: pointer;
}

.select-filterbar {
  width: 100%;
  height: 35px;

  @include respond-to("smallTab") {
    height: 45px;
  }

}

// Popup

.modal {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  position: relative;
  top: -300px;

  @include respond-to("smallTab") {
    width: 50%;
  }
}

.modal-body {
  margin-top: 20px;
}

.show {
  display: grid;
}

.drop {
  animation: drop 0.5s ease forwards;
}

.input-edit {
  border: 0;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}