.container {
    width: 720px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);

    @include respond-to('smallTab') {
        width: 100%;
        padding: 20px;
        margin: 20px;
        flex-direction: column;
    }
    
    @include respond-to('mobile') {
        width: 100%;
        padding: 20px;
        margin: 20px;
    }
}

.flex {
    display: flex;
    gap: 1.5em;
    margin-bottom: 15px;
    justify-content: space-between;

    @include respond-to('mobile') {
        flex-direction: column;
        width: 100%;
    }
}

.input-control {
    @include input-control
}

.add {
    @include btn-control;
    background: #8bc34a;
    width: 30px;
    height: 30px;

    @include respond-to('mobile') {
        width: 100%;
    }
}

.delete {
    @include btn-control;
    background: #f44336;
    width: 35px;
    height: 30px;

    @include respond-to('mobile') {
        width: 100%;
    }
}