<div class="container">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div formArrayName="quantities flex-column">
      <h2>Calcolo Insulina</h2>
      <div
        *ngFor="let quantity of quantities().controls; let i = index"
        [formGroupName]="i"
        class="input-group"
      >
        <div class="flex-end mobile">
          <div class="input-control delete">
            <button
              type="button"
              (click)="removeQuantity(i)"
              class="btn-control"
            >
              &times;
            </button>
          </div>
        </div>
        <div class="input-control">
          <input
            type="text"
            (input)="onInput($event)"
            formControlName="food"
            placeholder="Alimento"
          />
        </div>
        <div class="input-control">
          <input
            type="number"
            formControlName="carbs"
            placeholder="Carboidrati (per 100g)"
          />
        </div>
        <div class="input-control">
          <input
            type="number"
            (input)="onInput($event)"
            formControlName="qty"
            placeholder="Grammi somministrati"
          />
        </div>
        <div class="input-control delete smallTab">
          <button type="button" (click)="removeQuantity(i)" class="btn-control">
            &times;
          </button>
        </div>
      </div>
      <div class="input-group">
        <button type="button" (click)="addQuantity()" class="add btn-control">
          &plus;
        </button>
      </div>
    </div>
  </form>
  <br />
  <div class="flex">
    <h2>Risultati</h2>
  </div>
  <div class="flex-column">
    <span>
      <label for="total_carbs">Carboidrati Totali:</label>
      {{ this.getTotalCarbs() }}
    </span>
    <div>
      <span>Insulina per pasto:</span>
      {{ this.getInsulinFoodValue() }}
    </div>
    <span>
      <label for="correction">Fattore di Correzione:</label>
      <input
        class="input-result"
        id="correction"
        type="number"
        [(ngModel)]="correction"
      />
    </span>
    <span>
      <label for="current">Glicemia attuale:</label>
      <input
        class="input-result"
        id="current"
        type="number"
        [(ngModel)]="current"
      />
    </span>
    <span>
      <label for="needed">Glicemia desiderata:</label>
      <input
        class="input-result"
        id="needed"
        type="number"
        [(ngModel)]="needed"
      />
    </span>
    <div>
      <span>Insulina necessaria totale:</span>
      {{ this.getInsulinTotalValue() }}
    </div>
  </div>
</div>
