<div class="container">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div formArrayName="quantities">
      <div class="flex">
        <h2>Calcolo Insulina</h2>
        <button type="button" (click)="addQuantity()" class="add">
          &plus;
        </button>
      </div>
      <div
        *ngFor="let quantity of quantities().controls; let i = index"
        [formGroupName]="i"
        class="flex"
      >
        <input
          type="text"
          (input)="onInput($event)"
          formControlName="food"
          class="form-control input-control"
          placeholder="Alimento"
        />
        <input
          type="number"
          formControlName="carbs"
          class="form-control input-control"
          placeholder="Carboidrati (per 100g)"
        />
        <input
          type="number"
          (input)="onInput($event)"
          formControlName="qty"
          class="form-control input-control"
          placeholder="Grammi somministrati"
        />
        <button type="button" (click)="removeQuantity(i)" class="delete">
          &times;
        </button>
      </div>
    </div>
  </form>
  <br />
  <div class="flex">
    <h2>Risultati</h2>
  </div>
  <div class="flex-column">
    <span>
      <label for="total_carbs">Carboidrati Totali:</label>
      {{ this.getTotalCarbs() }}
    </span>
    <div>
      <span>Insulina per pasto:</span>
      {{ this.getInsulinFoodValue() }}
    </div>
    <span>
      <label for="correction">Fattore di Correzione:</label>
      <input class="input-result" id="correction" type="number" [(ngModel)]="correction"/>
    </span>
    <span>
      <label for="current">Glicemia attuale:</label>
      <input class="input-result" id="current" type="number" [(ngModel)]="current"/>
    </span>
    <span>
      <label for="needed">Glicemia desiderata:</label>
      <input class="input-result" id="needed" type="number" [(ngModel)]="needed" />
    </span>
    <div>
      <span>Insulina necessaria totale:</span>
      {{ this.getInsulinTotalValue() }}
    </div>
  </div>
</div>
