<div class="flex-end mobile">
  <div class="input-control edit">
    <button
      type="button"
      (click)="onClickEdit(group_index)"
      class="btn-control"
    >
    <fa-icon [icon]="faPencil"></fa-icon>
    </button>
  </div>
  <div class="input-control delete">
    <button
      type="button"
      (click)="onClick(group_index)"
      class="btn-control"
    >
      &times;
    </button>
  </div>
</div>
<div class="select">
    <app-select-food (onSelectEvent)="onSelectEvent($event)"/>
</div>
<div class="input-control">
  <input
    id="carbs"
    type="number"
    [value]="this.input_values['carbs']"
    placeholder="Carboidrati (per 100g)"
    (keyup)="onInputEvent($event, group_index)"
  />
</div>
<div class="input-control">
  <input
    id="qty"
    type="number"
    placeholder="Grammi somministrati"
    (keyup)="onInputEvent($event, group_index)"
  />
</div>
<div class="input-control edit smallTab">
  <button
    type="button"
    (click)="onClickEdit(group_index)"
    class="btn-control"
  >
  <fa-icon [icon]="faPencil"></fa-icon>
  </button>
</div>
<div class="input-control delete smallTab">
  <button
    type="button"
    (click)="onClick(group_index)"
    class="btn-control"
  >
    &times;
  </button>
</div>
